streamlit>=1.40.0
anthropic>=0.25.8
llama-index-llms-anthropic>=0.1.15
sib-api-v3-sdk>=7.6.0
llama-index>=0.10.0
langgraph>=0.0.30
langchain-anthropic>=0.1.4
llama-index-readers-file>=0.1.0
pymupdf>=1.23.0
llama-index-embeddings-huggingface>=0.2.0
llama-index-vector-stores-chroma>=0.1.0
chromadb>=0.4.22
sentence-transformers>=2.5.0
python-dotenv>=1.0.0
pypdf>=4.0.0
torch>=2.0.0
transformers>=4.38.0
torchvision>=0.15.0
protobuf<=3.20.3
